html {
    background-color: #EFE2BA;
}

body {
    font-family: Chalkduster, fantasy;
    color: #595656;
    font-size: 24px;
    margin: 0px;
}

/* Homepage links */

.links {
    width: auto;
    text-align: center;
}

a {
    padding: 10px;
    color: #595656;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}    

a:hover {
    background-color: #D79922;
    font-size: 30px;
}    

/* Recipe pages */

h1, h2, h3, h4 {
    text-align: center;
    margin: 10px auto;
}

.ingredients {
    background-color: #f8f6f3;
    padding: 1px 0px;
}    

.ingredients h3, .ingredients h4 {
    text-decoration: underline;
    margin: auto;
}

ul li {
    color: #1F6521;
    border-bottom: 2px solid #4056A1;
}

.container img {   
    max-height: auto;
    max-width: 40%;
    margin: 25px auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}    